*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

.body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.header{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;  
}

.header__title{
    font-size: clamp(1.3rem,3vw,2.3rem);
    font-weight: 200;
}
.header__span{
    font-size: clamp(1.3rem,3vw,2.3rem);
    font-weight: 600;
}

.header__p{
    font-size: clamp(0.85rem,3vw,0.99rem);
    font-weight: 200;
    color: var(--Grayish-Blue);
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.card{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 3.5px;
    box-shadow: 0 10px 20px hsla(234, 12%, 34%, 0.185);
    margin: auto;
    gap: 8px;
    margin-top: 1.6rem;
    padding: 1.2rem 1.65rem;
}
.card--cyan{
    border-top: 3px solid var(--Cyan);
}
.card--orange{
    border-top: 3px solid var(--Orange);
}
.card--red{
    border-top: 3px solid var(--Red);
}
.card--blue{
    border-top: 3px solid var(--Blue);
}

.card__title{
    font-size:clamp(1.1rem,3vw,1.4rem);
}

.card__info{
    color: var(--Grayish-Blue);
    font-weight: 200;
    font-size: clamp(0.68rem,2vw,0.85rem);
    
}

.card__icon{
    width: 22%;
    margin-top: 1rem;
    margin-bottom: clamp(0,3vw,1rem);
    align-self: flex-end;
}

@media (min-width: 1000px) {
    .body{
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .main{
        width: 100%;
        display: grid;
        margin: 2.5rem auto;
        justify-content: center;
        gap: 1.5rem;
        /* grid-template-columns: 1.05fr 0.9fr 1.05fr; */
        grid-template-columns: 400px 400px 400px;

    }

    .card__icon{
        margin-bottom: 1rem;
    }
    .card{
        margin: 0;
    }
    /* .header__p{
        font-size: 0.77rem;
    } */
    .card--cyan{
         order: 2;
         margin: auto 0 auto auto;
         grid-row: 1 / 3;
    }
    .card--red{
         order: 1;
         margin: auto;
    }
    .card--orange{
         order: 3;
         grid-row: 2 / 3;
         margin: auto;
    }
    .card--blue{
        margin: auto auto auto 0;
            order:4;
            grid-row: 1 / 3;
    }
}